{% extends 'main.html' %}

{% block content %}



<div>
    <form method ='POST' acction="">
        {% csrf_token %}
        <label>username</label>
        <input type="text" name="username" placeholder="Enter username"/>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password"/>

        <input type="submit" value="login"/>

    </form>

    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">sign up</a>

   

<div>
    <form method ='POST' acction="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="register"/>
    
    </form>

        <p>Already signed up?</p>
        <a href="{% url 'login' %}">login</a>
     
</div>    


</div>



{% endblock %}